.h1 {
  background: url(../images/h1.png);
}

.h2 {
  background: url(../images/h2.png);
}

.h3 {
  background: url(../images/h3.png);
}

.h4 {
  background: url(../images/h4.png);
}

.h5 {
  background: url(../images/h5.png);
}

.h6 {
  background: url(../images/h6.png);
}

.h7 {
  background: url(../images/h7.png);
}

.h8 {
  background: url(../images/h8.png);
}

.h9 {
  background: url(../images/h9.png);
}

.h10 {
  background: url(../images/h10.png);
}

.hj {
  background: url(../images/hj.png);
}

.hq {
  background: url(../images/hq.png);
}

.hk {
  background: url(../images/hk.png);
}

.s1 {
  background: url(../images/s1.png);
}

.s2 {
  background: url(../images/s2.png);
}

.s3 {
  background: url(../images/s3.png);
}

.s4 {
  background: url(../images/s4.png);
}

.s5 {
  background: url(../images/s5.png);
}

.s6 {
  background: url(../images/s6.png);
}

.s7 {
  background: url(../images/s7.png);
}

.s8 {
  background: url(../images/s8.png);
}

.s9 {
  background: url(../images/s9.png);
}

.s10 {
  background: url(../images/s10.png);
}

.sj {
  background: url(../images/sj.png);
}

.sq {
  background: url(../images/sq.png);
}

.sk {
  background: url(../images/sk.png);
}

.c1 {
  background: url(../images/c1.png);
}

.c2 {
  background: url(../images/c2.png);
}

.c3 {
  background: url(../images/c3.png);
}

.c4 {
  background: url(../images/c4.png);
}

.c5 {
  background: url(../images/c5.png);
}

.c6 {
  background: url(../images/c6.png);
}

.c7 {
  background: url(../images/c7.png);
}

.c8 {
  background: url(../images/c8.png);
}

.c9 {
  background: url(../images/c9.png);
}

.c10 {
  background: url(../images/c10.png);
}

.cj {
  background: url(../images/cj.png);
}

.cq {
  background: url(../images/cq.png);
}

.ck {
  background: url(../images/ck.png);
}

.d1 {
  background: url(../images/d1.png);
}

.d2 {
  background: url(../images/d2.png);
}

.d3 {
  background: url(../images/d3.png);
}

.d4 {
  background: url(../images/d4.png);
}

.d5 {
  background: url(../images/d5.png);
}

.d6 {
  background: url(../images/d6.png);
}

.d7 {
  background: url(../images/d7.png);
}

.d8 {
  background: url(../images/d8.png);
}

.d9 {
  background: url(../images/d9.png);
}

.d10 {
  background: url(../images/d10.png);
}

.dj {
  background: url(../images/dj.png);
}

.dq {
  background: url(../images/dq.png);
}

.dk {
  background: url(../images/dk.png);
}
