html {
  font-size: .9em;
  height: 100%;
  background-color: rgba(254,197,86,0.8);
}
body {
  height: 100%;
  font: normal 100% Helvetica, Arial, sans-serif;
}


header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
  color: #B8860B;
}
main {
  height: 86%;
  position: relative;
}


#playerA, #playerB, #roundtable{
  height: 35%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*牌桌*/
#roundtable{
  background-color: rgba(68,139,97,.6);
  height: 30%;
}
#roundtable .wrap{
  height: 90%;
}
#roundtable .wrap .role{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  color: #FFE4C4;
  white-space: pre;
}

/*庄家和玩家*/
#playerA .wrap, #playerB .wrap{
    width: 90%;
    height: 80%;
    border: dashed 2px #ff7473;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
ul[class="banker"] li,ul[class="player"] li{
  display: inline-block;
  width: 5em;
  height: 7em;
  margin: .5em;
  float: left;
  background-size: 100% 100%;
}

/*按钮*/
#selector{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
#selector button {
  width: 7em;
  height: 4em;
  border-radius: 1em;
  border: solid 1px #ff7473;
  margin: 0 1em;
  background-color: #ff7473;
  font-size: .9em;
  color: #fff;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: .9;
  transition: all 60ms ease;
}
button:active {
  opacity: .95;
  transform: scale(.9);
  transition: all 60ms ease;
}

/*赌注样式*/
#selector #wager{
  width: 4em;
  height: 4em;
  padding: .5em;
  background: #f0fafb;
  border-radius: 50%;
  font-size: .9em;
  text-align: center;
  color: rgba(128, 128, 128, .9);
  line-height: 4em;
  box-shadow: 0 0 1em rgba(128, 128, 128, .9);
}

/*消息框展示总牌值样式*/
.count{
  position: absolute;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: 2em;
  background-color: #eef3f0;
  border-radius: .5em;
  text-align: center;
  line-height: 2em;
}
#playerA .count{
  top: 0;
}
#playerA .count:before{
  content: '\25BC';
  color: #eef3f0;
  position: absolute;
  font-size: 1em;
  top: 1.3em;
  left: 1.5em;
}
#playerB .count{
  bottom: 0;
}
#playerB .count:before{
    content: '\25B2';
    width: 0;
    height: 0;
    color: #eef3f0;
    position: absolute;
    font-size: 1em;
    top: -1.2em;
    left: 1.5em;
}


.hide{
  display: none;
}
.block{
  display: inline-block;
}
/*遮罩层样式*/
.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.promot{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 22em;
  height: 22em;
  margin-left: -11em;
  margin-top: -11em;
  padding: .5em;
  background-color: rgba(240,250,251,0.8);
  text-align: justify;
  line-height: 3em;
  overflow: auto;
  border-radius: .5em;
  box-shadow: 0 0 1em #f0fafb;
}
.result{
  text-align: center;
}


/*webkit滚动条*/
::-webkit-scrollbar {
      width: .5em;
  }
  ::-webkit-scrollbar-track {
      background-color: rgb(254,197,87,.8);
  } /* 滚动条的滑轨背景颜色 */

  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .2);
  } /* 滑块颜色 */

  ::-webkit-scrollbar-button {
      background-color: rgb(254,197,87,.8);
      border-radius: 5px;
  } /* 滑轨两头的监听按钮颜色 */


.unknow{
  background: url(../images/unknow.png) no-repeat;
}
