html {
  font-size: .9em;
  height: 100%;
  background-color: rgba(254,197,86,0.8);
}

body {
  height: 100%;
  font: normal 100% Helvetica, Arial, sans-serif;
}


header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
  color: #B8860B;
}

main {
  height: 86%;
  position: relative;
}

#playerA, #playerB, #roundtable{
  height: 35%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#roundtable{
  background-color: rgba(68,139,97,.6);
  height: 30%;
}
#roundtable .wrap{
  height: 90%;
}
#roundtable .wrap .role{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  color: #FFE4C4;
  white-space: pre;
}

#playerA ul,#playerB ul{

}
#playerA .wrap, #playerB .wrap{
    width: 90%;
    height: 80%;
    border: dashed 2px #ff7473;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

ul[class="banker"] li,ul[class="player"] li{
  display: inline-block;
  width: 5em;
  height: 7em;
  margin: .5em;
  float: left;
  background-size: 100% 100%;
}

#selector{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#selector button {
  width: 7em;
  height: 4em;
  border-radius: 1em;
  border: solid 1px #ff7473;
  margin: 0 1em;
  background-color: #ff7473;
  font-size: .9em;
  color: #fff;
  outline: none;
  cursor: pointer;
}
button:hover {
  opacity: .9;
  transition: all 60ms ease;
}
button:active {
  opacity: .95;
  transform: scale(.9);
  transition: all 60ms ease;
}

#selector #wager{
  width: 4em;
  height: 4em;
  padding: .5em;
  background: #f0fafb;
  border-radius: 50%;
  font-size: .9em;
  text-align: center;
  color: rgba(128, 128, 128, .9);
  line-height: 4em;
  box-shadow: 0 0 1em rgba(128, 128, 128, .9);
}


.count{
  position: absolute;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: 2em;
  background-color: #eef3f0;
  border-radius: .5em;
  text-align: center;
  line-height: 2em;
}


#playerA .count{
  top: 0;
}
#playerA .count:before{
  content: '\25BC';
  color: #eef3f0;
  position: absolute;
  font-size: 1em;
  top: 1.3em;
  left: 1.5em;
}

#playerB .count{
  bottom: 0;
}
#playerB .count:before{
    content: '\25B2';
    width: 0;
    height: 0;
    color: #eef3f0;
    position: absolute;
    font-size: 1em;
    top: -1.2em;
    left: 1.5em;
}


.hide{
  display: none;
}
.block{
  display: inline-block;
}

.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.promot{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 22em;
  height: 22em;
  margin-left: -11em;
  margin-top: -11em;
  padding: .5em;
  background-color: rgba(240,250,251,0.8);
  text-align: justify;
  line-height: 3em;
  overflow: auto;
  border-radius: .5em;
  box-shadow: 0 0 1em #f0fafb;
}

.result{
  text-align: center;
}

/*webkit*/
::-webkit-scrollbar {
      width: .5em;
  }
  ::-webkit-scrollbar-track {
      background-color: rgb(254,197,87,.8);
  } /* 滚动条的滑轨背景颜色 */

  ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .2);
  } /* 滑块颜色 */

  ::-webkit-scrollbar-button {
      background-color: rgb(254,197,87,.8);
      border-radius: 5px;
  } /* 滑轨两头的监听按钮颜色 */




.unknow{
  background: url(../images/unknow.png) no-repeat;
}
.h1 {
  background: url(../images/h1.png);
}

.h2 {
  background: url(../images/h2.png);
}

.h3 {
  background: url(../images/h3.png);
}

.h4 {
  background: url(../images/h4.png);
}

.h5 {
  background: url(../images/h5.png);
}

.h6 {
  background: url(../images/h6.png);
}

.h7 {
  background: url(../images/h7.png);
}

.h8 {
  background: url(../images/h8.png);
}

.h9 {
  background: url(../images/h9.png);
}

.h10 {
  background: url(../images/h10.png);
}

.hj {
  background: url(../images/hj.png);
}

.hq {
  background: url(../images/hq.png);
}

.hk {
  background: url(../images/hk.png);
}

.s1 {
  background: url(../images/s1.png);
}

.s2 {
  background: url(../images/s2.png);
}

.s3 {
  background: url(../images/s3.png);
}

.s4 {
  background: url(../images/s4.png);
}

.s5 {
  background: url(../images/s5.png);
}

.s6 {
  background: url(../images/s6.png);
}

.s7 {
  background: url(../images/s7.png);
}

.s8 {
  background: url(../images/s8.png);
}

.s9 {
  background: url(../images/s9.png);
}

.s10 {
  background: url(../images/s10.png);
}

.sj {
  background: url(../images/sj.png);
}

.sq {
  background: url(../images/sq.png);
}

.sk {
  background: url(../images/sk.png);
}

.c1 {
  background: url(../images/c1.png);
}

.c2 {
  background: url(../images/c2.png);
}

.c3 {
  background: url(../images/c3.png);
}

.c4 {
  background: url(../images/c4.png);
}

.c5 {
  background: url(../images/c5.png);
}

.c6 {
  background: url(../images/c6.png);
}

.c7 {
  background: url(../images/c7.png);
}

.c8 {
  background: url(../images/c8.png);
}

.c9 {
  background: url(../images/c9.png);
}

.c10 {
  background: url(../images/c10.png);
}

.cj {
  background: url(../images/cj.png);
}

.cq {
  background: url(../images/cq.png);
}

.ck {
  background: url(../images/ck.png);
}

.d1 {
  background: url(../images/d1.png);
}

.d2 {
  background: url(../images/d2.png);
}

.d3 {
  background: url(../images/d3.png);
}

.d4 {
  background: url(../images/d4.png);
}

.d5 {
  background: url(../images/d5.png);
}

.d6 {
  background: url(../images/d6.png);
}

.d7 {
  background: url(../images/d7.png);
}

.d8 {
  background: url(../images/d8.png);
}

.d9 {
  background: url(../images/d9.png);
}

.d10 {
  background: url(../images/d10.png);
}

.dj {
  background: url(../images/dj.png);
}

.dq {
  background: url(../images/dq.png);
}

.dk {
  background: url(../images/dk.png);
}
